<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Ajout voiture" [options]="false">
        <hr />
        <form (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1">Type de la voiture</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formData.type"
                  name="type"
            
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Modèle</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formData.modele"
                  name="modele"
            
                
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Immatriculation</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="formData.matriculation"
                  name="matriculation"
            
                />
              </div>
              
            <br>
             
           
          </div>
          <div class="col-md-6">
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)" (change)="onFileChange($event)">
              <ngx-dropzone-label>
                <div>
                  <h2>Image de la voiture</h2>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
        <hr />
      </app-card>
    </div>

  </div>
  