<div class="row" *ngIf="voitures != null">
		<div class="{{ voiture.design }} col-xl-4" *ngFor="let voiture of voitures.voiture">
			<app-card [hidHeader]="true">
				<img class="mb-4" src="https://drive.google.com/file/d/1HxFf6D6duJ8TfxthYL5BQagUvQw4kJRy/view?usp=share_link" />
				<div class="row d-flex align-items-center">
					<div class="col-9">
					<h3 class="f-w-300 d-flex align-items-center m-b-0">
						{{ voiture.matriculation }}
					</h3>
					</div>
					<div class="col-3 text-end">
					<p class="m-b-0">{{ voiture.modele }}</p>
					</div>
				</div>
			</app-card>
		</div>
</div>