<div class="row">
  <div class="col-xl-12">
    <app-card
      cardTitle="BMW 5528TBG"
      [options]="false"
      blockClass="table-border-style"
    >
        <div class="container">
            <div class="box" [ngStyle]="{'display': 'flex', 'justify-content': 'space-between'}">
            <div class="box-part"><h5>Historique de réparation</h5></div>
            <div class="box-part">
						  <input type="text" #indice id="icon-search" class="form-control mb-4" placeholder="search . . ">
            </div> 
            <div class="box-part"><button class="btn btn-primary" (click)="openModal(idVoiture)">Nouvelle réparation</button></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>Designation</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Etat</th>
                    <th>Facture</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="openDetails()" *ngFor="let rep of reparations | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>{{ rep.designation }}</td>
                    <td>{{ rep.datedebut }}</td>
                    <td>{{ rep.datefin }}</td>
                    <td>{{ rep.etat }}</td>
                    <td>{{ rep.idfacture }}</td>
                </tr>
              </tbody>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </table>
          </div>
    </app-card>
  </div>
</div>
