<div class="row">
  <div class="col-xl-12">
    <app-card
      cardTitle="BMW 5528TBG"
      [options]="false"
      blockClass="table-border-style"
    >
        <div class="container">
            <div class="box" [ngStyle]="{'display': 'flex', 'justify-content': 'space-between'}">
            <div class="box-part"><h5>Historique de réparation</h5></div>
            <div class="box-part"></div> 
            <div class="box-part"><button class="btn btn-primary" (click)="openModal()">Nouvelle réparation</button></div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Début</th>
                    <th>Fin</th>
                    <th>Etat</th>
                    <th>Facture</th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="openDetails()">
                    <th scope="row">1</th>
                    <td>Révision de moteur</td>
                    <td>05 mai 2022</td>
                    <td>10 mai 2022</td>
                    <td>Terminer</td>
                </tr>
                <tr (click)="openDetails()">
                    <th scope="row">1</th>
                    <td>Révision de moteur</td>
                    <td>05 mai 2022</td>
                    <td>10 mai 2022</td>
                    <td>Terminer</td>
                </tr>
                <tr (click)="openDetails()">
                    <th scope="row">1</th>
                    <td>Révision de moteur</td>
                    <td>05 mai 2022</td>
                    <td>10 mai 2022</td>
                    <td>Terminer</td>
                </tr>
              </tbody>
            </table>
          </div>
    </app-card>
  </div>
</div>
